<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins',sans-serif;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="flex w-screen h-full items-center justify-center">
        <div class="bg-zinc-200 min-h-1/2 w-screen md:w-3/4 m-5 rounded-xl py-7 px-10 font-semibold">
            <div class="flex justify-between"> 
                <span class="pl-5">-Username-</span>
                <span class="pr-32">Age:</span>
            </div>
            <div>
                <span class="pl-5">Gender:</span>
            </div>
            <div class="border-b border-gray-500 pb-4">
                <span class="pl-5">Location:</span>
            </div>
            <div>
            <div class="">
                <div class="">
                    <div class="flex justify-evenly">
                        <div class="pt-5 pl-5">Sno.</div>
                        <div class="pt-5 pl-5">Date</div>
                        <div class="pt-5 pl-5">Diasease</div>
                        <div class="pt-5 pl-5">Reports</div>
                    </div>
                    
                </tbody>
            </table>
        </div>
        </div>
        
    </div>
    
</body>
</html>